/* VERSION ORDINATEUR */

@media (min-width: 769px) {
  /* PARAMETRES GENERAUX */

  /* Main Wrapper*/

  #main-wrapper {
    width: 1400px;
  }

  /* Header */

  h1 {
    font-size: 40px;
    margin-left: 592px;
    margin-right: 592px;
  }

  .localisation {
    i {
      margin-left: 586px;
    }
    input {
      margin-right: 618px;
    }
  }

  .slogan {
    h2 {
      margin-left: 522px;
      margin-right: 523px;
    }
    .principe {
      margin-left: 477px;
      margin-right: 478px;
    }
    .explorer {
      margin-left: 595px;
      margin-right: 595px;
    }
  }

  /* Section - Fonctionnement */

  .fonctionnement {
    h2 {
      margin-left: 50px;
      margin-right: 1189px;
    }
  }

  .information-fonctionnement {
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
  }

  /* Section - Restaurant */

  .restaurant {
    h2 {
      margin-bottom: 15px;
      margin-left: 50px;
      margin-right: 1241px;
    }
  }

  .choix-restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;
  }

  .information-restaurant {
    width: 625px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    .nouveau {
      margin-left: 535px;
    }
    img {
      width: 625px;
      height: 332px;
    }
  }

  /* Footer */

  footer {
    .infos {
      flex-direction: row;
      justify-content: space-between;
    }
    h4 {
      margin-left: 50px;
      margin-right: 1263px;
    }
    .prestation {
      margin-left: 50px;
    }
    .notion-juridique {
      margin-left: 50px;
    }
    .contacter {
      margin-left: 50px;
      margin-right: 50px;
    }
  }

  /* Menu - Restaurant */

  /* Header - Menu */

  .header-menu {
    img {
      width: 1400px;
      height: 300px;
    }

    .bandeau-menu {
      i {
        margin-left: 50px;
      }
      .appellation {
        margin-left: 528px;
        margin-right: 592px;
      }
    }
  }
  /* Main - Menu */

  .carte-menu {
    width: 1400px;
  }
  .denomination-restaurant {
    .designation {
      margin-left: 50px;
    }
    i {
      margin-right: 65px;
    }
  }

  /* Section - Entrée Plats Desserts */

  .entrees-plats-desserts {
    margin-bottom: 30px;
    .intitule-plat {
      margin-bottom: 10px;
      .alimentation {
        margin-left: 50px;
      }
      .trait {
        margin-left: 50px;
      }
    }
    .choix-plat {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-left: 50px;
      margin-right: 50px;
      .plat {
        width: 380px;
      }
    }
  }

  /* Section - Commander */

  .commander {
    .passer-la-commande {
      margin-top: 45px;
      margin-left: 600px;
      margin-right: 600px;
    }
  }

  /* Footer */

  .footer-menu {
    .infos {
      flex-direction: row;
      justify-content: space-between;
    }
    h4 {
      margin-left: 50px;
      margin-right: 1263px;
    }
    .prestation {
      margin-left: 50px;
    }
    .notion-juridique {
      margin-left: 50px;
    }
    .contacter {
      margin-left: 50px;
      margin-right: 50px;
    }
  }
}
