/* VERSION TABLETTE */

@media (min-width: 376px) and (max-width: 768px) {
  /* PARAMETRES GENERAUX */

  /* Main Wrapper*/

  #main-wrapper {
    width: 768px;
  }

  /* Header */

  h1 {
    font-size: 35px;
    margin-left: 290px;
    margin-right: 290px;
  }

  .localisation {
    i {
      margin-left: 284px;
    }
    input {
      margin-right: 288px;
    }
  }

  .slogan {
    h2 {
      margin-left: 206px;
      margin-right: 207px;
    }
    .principe {
      margin-left: 161px;
      margin-right: 162px;
    }
    .explorer {
      margin-left: 279px;
      margin-right: 279px;
    }
  }

  /* Section - Fonctionnement */

  .fonctionnement {
    h2 {
      margin-left: 50px;
      margin-right: 555px;
    }
  }

  .information-fonctionnement {
    margin-right: 50px;
    margin-left: 50px;
  }

  .processus {
    margin-right: 158px;
    margin-left: 158px;
  }

  /* Section - Restaurant */

  .restaurant {
    h2 {
      margin-left: 50px;
      margin-right: 608px;
    }
  }

  .information-restaurant {
    width: 668px;
    margin-left: 50px;
    margin-right: 50px;
    .nouveau {
      margin-left: 579px;
    }
    img {
      width: 668px;
      height: 350px;
    }
  }

  /* Footer */

  footer {
    h4 {
      margin-left: 50px;
      margin-right: 630px;
    }
    .prestation {
      margin-left: 50px;
    }
    .notion-juridique {
      margin-left: 50px;
    }
    .contacter {
      margin-left: 50px;
    }
  }

  /* Menu - Restaurant */

  /* Header - Menu */

  .header-menu {
    img {
      width: 768px;
      height: 300px;
    }

    .bandeau-menu {
      i {
        margin-left: 50px;
      }
      .appellation {
        margin-left: 226px;
        margin-right: 289px;
      }
    }
  }

  /* Main - Menu */

  .carte-menu {
    width: 768px;
  }
  .denomination-restaurant {
    .designation {
      margin-left: 50px;
    }
    i {
      margin-right: 65px;
    }
  }

  /* Section - Entrée Plats Desserts */

  .entrees-plats-desserts {
    .intitule-plat {
      .alimentation {
        margin-left: 50px;
      }
      .trait {
        margin-left: 50px;
      }
    }
    .choix-plat {
      margin-left: 50px;
      margin-right: 50px;
    }
  }

  /* Section - Commander */

  .commander {
    .passer-la-commande {
      margin-left: 250px;
      margin-right: 250px;
    }
  }
}
