@mixin formatting_h2 {
  width: fit-content;
  font-size: 22px;
  font-weight: bold;
}

@mixin formatting_h3 {
  width: fit-content;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

@mixin formatting_h4 {
  width: fit-content;
  font-size: 16px;
}

@mixin formatting_p {
  font-size: 15px;
  font-weight: normal;
}

@mixin ombre {
  box-shadow: 3px 3px 5px #c5c5c5;
}

@mixin vignette-etape {
  .numero {
    border: $border-display $section-numero-border-color 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 25px 25px 25px 25px;
    @include formatting_p;
    background-color: $section-numero-background-color;
    color: $section-numero-text-color;
    position: relative;
    left: 15px;
  }
  .phase {
    border: $border-display $section-phase-border-color 1px;
    display: flex;
    flex-direction: row;
    width: 325px;
    border-radius: 15px 15px 15px 15px;
    background-color: $section-phase-background-color;
    @include ombre;
    i {
      border: $border-display $section-i-border-color 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      color: $section-i-fonctionnement-color;
      margin: 25px 25px 20px 30px;
    }
    h3 {
      border: $border-display $section-h3-border-color 1px;
      @include formatting_h3;
      margin: 25px 0px 20px 0px;
    }
  }
  .phase:hover {
    background-color: $section-hover-phase-background-color;
    i {
      color: $section-hover-i-fonctionnement-color;
    }
  }
}

@mixin vignette-restaurant {
  border: $border-display $section-vignette-border-color 1px;
  border-radius: 15px 15px 15px 15px;
  background-color: $section-information-restaurant-background-color;
  display: flex;
  flex-direction: column;
  width: 335px;
  margin: 20px 20px 0px 20px;
  @include ombre;
  &:hover {
    box-shadow: 3px 3px 2px #808080;
  }
  .nouveau {
    border: solid #99e2d0 1px;
    border-radius: 5px 5px 5px 5px;
    background-color: #99e2d0;
    font-size: 12px;
    font-weight: bold;
    color: #008766;
    padding: 10px 15px 10px 15px;
    position: absolute;
    z-index: 2;
    margin: 10px 0px 0px 245px;
  }
  img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 335px;
    height: 175px;
  }
  .information {
    border: $border-display $section-information-border-color 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0px 15px 0px;
    i {
      border: $border-display $section-i-border-color 1px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 20px 0px 0px;
    }
  }
  .nom-restaurant {
    border: $border-display $section-nom-restaurant-border-color 1px;
    margin: 0px 0px 0px 10px;
    h3 {
      border: $border-display $section-h3-border-color 1px;
      @include formatting_h3;
      margin: 0px 0px 5px 0px;
    }
    .quartier {
      border: $border-display $section-quartier-border-color 1px;
      @include formatting_p;
    }
  }
}

@mixin pied-de-page {
  border: $border-display $footer-border-color 1px;
  background-color: $footer-background-color;
  display: flex;
  flex-direction: column;
  .infos {
    border: $border-display $footer-infos-border-color 1px;
    display: flex;
    flex-direction: column;
  }
  h4 {
    border: $border-display $footer-h4-border-color 1px;
    @include formatting_h4;
    color: $footer-h4-color;
    margin: 25px 263px 20px 25px;
  }
  p {
    border: $border-display $footer-p-border-color 1px;
    @include formatting_p;
    color: $footer-p-color;
  }
  .notion-juridique {
    border: $border-display $footer-p-border-color 1px;
    @include formatting_p;
    color: $footer-p-color;
    margin-left: 25px;
    margin-bottom: 10px;
  }
  .contacter {
    border: $border-display $footer-p-border-color 1px;
    @include formatting_p;
    color: $footer-p-color;
    margin-left: 25px;
    margin-bottom: 35px;
  }
  .prestation {
    border: $border-display $footer-prestation-border-color 1px;
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-bottom: 5px;
    i {
      border: $border-display $footer-i-border-color 1px;
      width: 20px;
      height: 20px;
      color: $footer-i-color;
      margin-right: 10px;
    }
  }
}

@mixin entete-menu {
  border: $border-display $header-menu-border-color 1px;
  img {
    border: $border-display $header-menu-img-border-color 1px;
    display: flex;
    width: 375px;
    height: 250px;
  }
  .bandeau-menu {
    border: $border-display $header-bandeau-menu-border-color 1px;
    display: flex;
    flex-direction: row;
    i {
      border: $border-display $header-bandeau-menu-i-border-color 1px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 25px 0px 20px 20px;
    }
    .appellation {
      border: $border-display $header-bandeau-menu-h1-border-color 1px;
      margin: 20px 106px 10px 73px;
    }
  }
}

@mixin titre-plat {
  display: flex;
  flex-direction: column;
  .alimentation {
    border: $border-display $section-alimentation-border-color 1px;
    @include formatting_p;
    margin: 0px 0px 5px 15px;
  }
  .trait {
    border: $border-display $section-trait-border-color 1px;
    background-color: $section-trait-background-color;
    width: 40px;
    height: 3px;
    margin: 0px 0px 0px 15px;
  }
}

@mixin vignette-plat {
  border: $border-display $section-entrees-plats-desserts-border-color 1px;
  margin: 0px 0px 23px 0px;
  .intitule-plat {
    border: $border-display $section-intitule-plat-border-color 1px;
    @include titre-plat;
    margin: 0px 0px 3px 0px;
  }
  .choix-plat {
    border: $border-display $section-choix-plat-border-color 1px;
    background-color: $section-choix-plat-background-border-color;
    display: flex;
    flex-direction: column;
    margin: 0px 15px 0px 15px;
    .plat {
      border: $border-display $section-plat-border-color 1px;
      border-radius: 15px 15px 15px 15px;
      background-color: $section-plat-background-color;
      display: flex;
      flex-direction: column;
      margin: 7px 0px 7px 0px;
      @include ombre;
      &:hover {
        box-shadow: 3px 3px 2px #808080;
      }
      .nom-plat {
        border: $border-display $section-nom-plat-border-color 1px;
        @include formatting_h3;
        margin: 15px 0px 0px 10px;
      }
      .information-plat {
        border: $border-display $section-information-plat-border-color 1px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 5px 20px 10px 10px;
        .ingredient {
          border: $border-display $section-ingredient-border-color 1px;
          @include formatting_p;
        }
        .prix {
          border: $border-display $section-prix-border-color 1px;
          @include formatting_p;
          font-weight: bold;
        }
      }
    }
  }
}
