// AFFICHAGE OU NON DES BORDURES

$main-wrapper-border-display: none;
$border-display: none;

// LISTING DES COULEURS DES BORDURES

$main-wrapper-border-color: #000000;

// Zone Header - Page d'accueil

$header-border-color: #007f46;
$header-h1-border-color: #ff0000;

$header-localisation-border-color: #ffb27f;
$header-i-border-color: #0094ff;
$header-input-border-color: #ff006e;

$header-slogan-border-color: #ff7fed;
$header-h2-border-color: #ff6a00;
$header-principe-border-color: #b6ff00;
$header-explorer-border-color: #b6ff00;

// Zone Main - Page d'accueil

$main-border-color: #a0a0a0;

// Zone Section - Fonctionnement

$section-fonctionnement-border-color: #00ff21;
$section-h2-border-color: #ff6a00;
$section-information-fonctionnement-border-color: #7fffc5;
$section-processus-border-color: #0026ff;
$section-numero-border-color: #9356dc;
$section-phase-border-color: #000000;
$section-i-border-color: #0094ff;
$section-h3-border-color: #ffd800;

// Zone Section - Restaurant

$section-restaurant-border-color: #7fc9ff;
$section-choix-restaurant-border-color: #00ff90;
$section-vignette-border-color: #4800ff;
$section-information-border-color: #5b7f00;
$section-nom-restaurant-border-color: #7f0000;
$section-quartier-border-color: #b6ff00;

// Zone Footer
$footer-border-color: #00ffff;
$footer-h4-border-color: #c0c0c0;
$footer-p-border-color: #b6ff00;
$footer-prestation-border-color: #7f6a00;
$footer-i-border-color: #0094ff;

// Zone Header - Menu
$header-menu-border-color: #007f46;
$header-bandeau-menu-border-color: #ffb27f;
$header-bandeau-menu-i-border-color: #0094ff;
$header-bandeau-menu-h1-border-color: #ff0000;
$header-menu-img-border-color: #ff00dc;

// Zone Main - Menu
$main-carte-menu-border-color: #f6f6f6;

// Zone Section - Denomination restaurant
$section-denomination-restaurant-border-color: #7fffc5;
$section-designation-border-color: #ff6a00;
$section-denomination-restaurant-i-border-color: #0094ff;

// Zone Section - Entrees plats desserts
$section-entrees-plats-desserts-border-color: #004a7f;
$section-intitule-plat-border-color: #ff00dc;
$section-alimentation-border-color: #b6ff00;
$section-trait-border-color: #0094ff;
$section-choix-plat-border-color: #3f7f47;
$section-plat-border-color: #ff006e;
$section-nom-plat-border-color: #ffd800;
$section-information-plat-border-color: #000000;
$section-ingredient-border-color: #b6ff00;
$section-prix-border-color: #b6ff00;

// Zone Section - Commander
$section-commander-border-color: #8a2be2;
$section-passer-la-commande-border-color: #b6ff00;

// LISTING DES COULEURS DES BACKGROUNDS

// Zone Header - Page d'accueil
$header-localisation-background-color: #eaeaea;
$header-input-background-color: #eaeaea;

$header-slogan-background-color: #f6f6f6;
$header-explorer-background-color: linear-gradient(#ff79da, #9356dc);

// Zone Section - Fonctionnement
$section-numero-background-color: #9356dc;
$section-phase-background-color: #f6f6f6;
$section-hover-phase-background-color: #f5edff;

// Zone Section - Restaurant
$section-restaurant-background-color: #f6f6f6;
$section-information-restaurant-background-color: #ffffff;

// Zone Footer
$footer-background-color: #353535;

// Zone Main - Menu
$main-carte-menu-background-color: #f6f6f6;

// Zone Section - Entrees plats desserts
$section-trait-background-color: #99e4d0;
$section-choix-plat-background-border-color: #f6f6f6;
$section-plat-background-color: #ffffff;

// Zone Section - Commander
$section-commander-background-color: linear-gradient(#ff79da, #9356dc);

// LISTING DES COULEURS DES TEXTES & AUTRES

// Zone Header
$header-explorer-text-color: #ffffff;

// Zone Section - Fonctionnement
$section-numero-text-color: #ffffff;
$section-i-fonctionnement-color: #7e7e7e;
$section-hover-i-fonctionnement-color: #9356dc;

// Zone Footer
$footer-i-color: #ffffff;
$footer-h4-color: #ffffff;
$footer-p-color: #ffffff;

// Zone Section - Commander
$section-commander-text-color: #ffffff;
